.company-page {
    .company-hero {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__logo {
            display: flex;
            justify-content: center;

            img {
                max-width: 344px;
                width: 100%;
            }
        }

        &__subtitle {
            font-size: 28px;
            font-weight: $font-weight-light;
            color: $text-primary;
            margin: 60px 0 32px;

            span {
                font-weight: $font-weight-medium;
            }
        }

        .hero__btn {
            align-self: center;
        }
    }

    .company-info {
        display: flex;
        padding: 40px;
        justify-content: space-between;

        &__title {
            font-size: 32px;
            font-weight: $font-weight-medium;
        }

        &__desc {
            font-size: 28px;
            font-weight: $font-weight-light;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
        }
    }

    .company-pethouse {
        text-align: center;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            margin: 8px 0 32px;
        }

        &__label {
            font-size: 24px;
            font-weight: $font-weight-light;
            color: $primary;
            background: #EAF4FF;
            border-radius: 24px;
            padding: 4px 12px;
            width: fit-content;
        }

        &__desc {
            font-size: 28px;
            font-weight: $font-weight-light;
            color: $text-primary;
            width: 50%;
        }

        &__mission {
            margin-top: 60px;
            position: relative;
            font-size: 28px;
            font-weight: $font-weight-light;
            color: $text-secondary;
            background: $white;
            width: 70%;
            z-index: 1;

            &::before, &::after {
                z-index: -1;
                content: "";
                position: absolute;
                top: 32px;
                width: 48px;
                height: 38px;
                background: url('images/icons/quotes.svg') no-repeat;
            }

            &::before {
                left: 32px;
            }

            &::after {
                right: 32px;
                transform: rotate(180deg);
            }
        }
    }

    .company-price {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 60px 0;
        gap: 40px;

        &__content {
            display: grid;
            grid-template-columns: 45% 55%;
            grid-template-areas: 
                "title table"
                "desc table"
                "btn table";
            gap: 16px 40px;
            align-items: start;
        }

        &__title {
            width: 45%;
            font-size: 32px;
            color: $text-primary;
            margin: 0;
        }

        &__desc {
            grid-area: desc;
            color: $text-primary;
            margin: 0;
            font-size: 28px;
        }

        &__btn {
            grid-area: btn;
            align-self: start;
            justify-self: start;
        }

        &-table {
            grid-area: table;
            display: flex;
            flex-direction: column;
            padding: 12px;
            width: 100%;

            &__header {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-weight: $font-weight-medium;
                font-size: 28px;
                color: $text-primary;
                margin-bottom: 16px;
            }

            &__values {
                border: 1px solid $border;
                border-radius: 12px;
                color: $text-secondary;
            }

            &__row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 28px;
                font-weight: $font-weight-light;
                padding: 12px 0;
                border-bottom: 1px solid $border;

                &:last-child {
                    border: none;
                }
            }

            &__cell {
                display: flex;
                justify-content: center;
            }
        }
    }

    .company-reasons {
        margin-bottom: 60px;

        &__grid {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 40px;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__item {
            display: flex;
            gap: 24px;
            align-items: flex-start;
        }

        &__name {
            font-size: 28px;
            font-weight: $font-weight-medium;
            margin-bottom: 16px;
            color: $text-primary;
        }

        &__desc {
            color: $text-secondary;
            font-size: 28px;
            font-weight: $font-weight-light;
        }
    }
}

.pictures-slider {
    padding-bottom: 60px;

    .swiper {
        width: 100%;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }

        &-wrapper {
            display: flex;
            align-items: stretch;
        }

        &-slide {
            height: auto;
        }
    }

    &__item {
        height: 400px;
        border-radius: 24px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        a {
            max-height: 400px;
        }
    }

    &__note {
        margin: 32px auto 0;
        width: 75%;
        text-align: center;
        font-size: 28px;
        font-weight: $font-weight-light;
        color: $text-secondary;
    }
}

@media (max-width: $breakpoint-small-desktop) {
    .company-page {
        .company {
            &-hero {
                &__logo img {
                    max-width: 198px;
                }

                &__subtitle {
                    margin: 32px 0;
                    font-size: 16px;
                }
            }

            &-info {
                padding: 16px;

                &__title {
                    font-size: 24px;
                }

                &__desc {
                    font-size: 18px;
                    font-weight: $font-weight-light;
                }

                &__certificate {
                    width: 40%;
                }
            }

            &-pethouse {
                margin-bottom: 24px;

                &__label {
                    font-size: 18px;
                }

                &__title {
                    margin: 8px 0 24px;
                }

                &__desc {
                    font-size: 18px;
                }

                &__mission {
                    margin-top: 24px;
                    font-size: 16px;
                    padding: 16px;
                    width: 100%;

                    &::before, &::after {
                        width: 32px;
                        height: 25px;
                        top: 16px;
                        background: url('images/icons/quotes-mobile.svg');
                    }

                    &::before {
                        left: 16px;
                    }

                    &::after {
                        right: 16px;
                    }
                }
            }

            &-price {
                margin: 24px 0;

                &__content {
                    grid-template-columns: 50% 50%;
                }

                &__title {
                    order: 1;
                    font-size: 24px;
                    width: 100%;
                }

                &__desc {
                    font-size: 18px;
                }

                &__btn {
                    align-self: end;
                }

                &-table {
                    padding: 12px;

                    &__header {
                        .company-price-table__cell {
                            font-size: 18px;
                        }
                    }

                    &__row {
                        padding: 16px 0;

                        .company-price-table__cell {
                            font-size: 16px;
                        }
                    }

                    &__values {
                        border-radius: 8px;
                    }
                }
            }

            &-reasons {
                margin-bottom: 24px;

                &__title {
                    margin-bottom: 24px;
                }

                &__item {
                    padding: 16px;
                    gap: 16px;
                }

                &__name {
                    margin-bottom: 8px;
                    font-size: 18px;
                }

                &__desc {
                    font-size: 18px;
                }

                &__grid {
                    gap: 16px;
                }
            }
        }
    }

    .pictures-slider {
        padding-bottom: 32px;

        &__item {

            a {
                max-height: 300px;
            }
        
            img {
                border-radius: 16px;    
            }
        }

        &__note {
            margin: 24px auto 0;
            width: 100%;
            font-size: 18px;
        }
    }   
}

@media (max-width: $breakpoint-tablet) {
    .company-page {
        .company {
            &-price {
                flex-direction: column;
                margin: 40px 0;
                gap: 24px;

                &__title,
                &-info,
                &-table {
                    order: initial;
                    width: 100%;
                    margin-left: 0;
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                &__title {
                    order: 1;
                }

                &-table {
                    order: 2;
                    padding: 8px;
                    width: 100%;

                    &__header {
                        font-size: 18px;
                        margin-bottom: 12px;
                    }

                    &__row {
                        font-size: 16px;
                        padding: 10px 0;
                    }
                }

                &-info {
                    order: 3;
                    gap: 16px;
                }

                &-text {
                    order: 1; 
                }

                .btn {
                    order: 4;
                    align-self: self-start;
                }

                &__desc {
                    order: 3;
                }
            }

            &-reasons {
                &__grid {
                    grid-template-columns: 1fr;
                }

                &__item {
                    flex-direction: column;
                }
            }
        }
    }
}