.contacts {
    display: flex;
    gap: 120px;
    margin-top: 60px;

    &-block {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__head {
        color: $text-muted;
        font-size: 24px;
        font-weight: $font-weight-medium;
    }

    &-phones {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    &__value {
        font-size: 28px;
        font-weight: $font-weight-medium;
        color: $primary;
    }
}

.addresses {
    margin: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;

    &-text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 30%;
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 28px;
        font-weight: $font-weight-light;

        &__name {
            color: $text-muted;
        }

        &__value {
            color: $text-primary;
        }
    }

    .map-wrapper {
        flex: 1;
        min-height: 400px;
    }
    
    #map {
        width: 100%;
        height: 100%;
        min-height: 400px;
    }
}

@media (max-width: $breakpoint-small-desktop) {
    .contacts {
        margin-top: 32px;
        gap: 32px;

        &-block {
            gap: 12px;
        }

        &__head {
            font-size: 16px;
        }

        &__value {
            font-size: 18px;
        }

        &-phones {
            gap: 12px;
        }
    }

    .addresses {
        margin: 32px 0;
        gap: 24px;

        &__title {
            font-size: 24px;
        }

        &-text {
            gap: 16px
        }

        &-time {
            font-size: 16px;
        }

        &-info__value {
            font-size: 16px;
        }

        .map-wrapper {
            flex: 1;
            min-height: 200px;
        }
    
        #map {
            width: 100%;
            height: 100%;
            min-height: 200px;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .contacts {
        flex-direction: column;

        &-phones {
            flex-direction: column;
        }
    }

    .addresses {
        flex-direction: column;

        &-text {
            width: 100%;
        }
    }
}