    .conditions {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);

        &__title {
            font-size: 32px;
            margin-bottom: 16px;
        }

        &__desc {
            font-size: 24px;
            font-weight: $font-weight-light;

            span {
                margin-top: 8px;
                color: $text-light;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &__detail {
            font-size: 24px;
            display: flex;

            a {
                color: $primary;
            }
        }

        &__name {
            color: $text-muted;
            font-weight: $font-weight-light;
            width: 60%;
        }

        &__value {
            color: $text-primary;
            font-weight: $font-weight-medium;
            flex: 1;
        }

        &-delivery {
            background: url('/images/background/delivery.jpg') center;
            background-size: cover;
            background-repeat: no-repeat;
            grid-column: 1 / 3;

            .conditions__desc {
                font-size: 28px;
            }
            .conditions__info {
                margin-top: 87px;
            }

            &-text {
                width: 40%;
            }
        }
    }

    .regions {
        padding-bottom: 60px;
        display: flex;
        align-items: center;
        background: url('/images/background/map.svg') no-repeat right center;
        background-size: 65% auto;

        &-text {
            position: relative;
            width: 37%;
            z-index: 2;
        }

        &__desc {
            font-size: 24px;
            color: $text-secondary;
            font-weight: $font-weight-light;
        }

        &-list {
            display: grid;
            grid-template-rows: repeat(5, auto);
            gap: 12px;
            margin-top: 118px;

            &__row {
                display: flex;
                gap: 12px;
                flex-wrap: wrap;
            }

            &__item {
                background: #DEEEFF;
                font-size: 18px;
                font-weight: $font-weight-light;
                color: $text-primary;
                padding: 8px 14px;
                border-radius: 42px;
                height: 41px;
                width: fit-content;
                display: flex;
                align-items: center;

                &--nn {
                    background: $primary;
                    color: $white;
                }
            }
        }
    }

    @media (max-width: ($breakpoint-desktop - 1)) {
        .regions-text {
            width: 50%;
        }
    }

    @media (max-width: ($breakpoint-laptop - 1)) {
        .conditions {
            padding-top: 32px;
            gap: 24px;

            &__title {
                font-size: 24px;
            }

            &-delivery {

                .conditions__title {
                    font-size: 24px;
                    margin-bottom: 12px;
                }

                .conditions__desc {
                    font-size: 16px;
                }

                &-text {
                    width: 100%;
                }
            }

            &-payment {
                .conditions__desc {
                    font-size: 18px;
                }
            }

            &__detail {
                flex-direction: column;
                font-size: 18px;
            }

            &__name {
                width: 100%
            }
        }

        .regions {
            padding-bottom: 30px;
            background-size: 70% auto;

            &__title {
                font-size: 28px;
                margin-bottom: 16px;
            }

            &__desc {
                font-size: 18px;
            }

            &-list {
                gap: 8px;
                margin-top: 109px;

                &__item {
                    padding: 12px 8px;
                    font-size: 12px;
                    height: 32px;
                }
            }
        }
    }

    @media (max-width: ($breakpoint-tablet - 1)) {

        .conditions {
            grid-template-columns: 1fr;

            &-delivery {
                grid-column: 1 / 2;
            }
        }

        .regions {
            background: url('/images/background/map.svg') no-repeat 35% 65%;
            background-size: 100% auto;
            flex-direction: column;

            &-list {
                margin-top: 262px;
            }

            &-text {
                width: 100%;
            }
        }
    }

    @media (max-width: 700px) {
        .regions {
            background: url('/images/background/map.svg') no-repeat -10vw -13vw;
            background-size: 100vw auto;
        }
    }

    @media (max-width: 600px) {
        .regions {
            background: url('/images/background/map.svg') no-repeat -10vw -10vw;
            background-size: 107vw auto;
        }
    }

    @media (max-width: 500px) {
        .regions {
            background: url('/images/background/map.svg') no-repeat -20vw -12vw;
            background-size: 130vw auto;

            &-list {
                margin-top: 60vw;
            }
        }
    }

    @media (max-width: 400px) {
        .regions {
            background: url('/images/background/map.svg') no-repeat -20vw -16vw;
            background-size: 150vw auto;

            &-list {
                margin-top: 53vw;
            }
        }
    }
