.btn {
    padding: 14px 24px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-weight: $font-weight-medium;
    font-size: 20px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: $font-main;
    white-space: nowrap;
    outline: none;
    width: fit-content;

    &__primary {
        background: $primary;
        color: $white;
        
        &:hover {
            background: $primary-hover;
        }
    }

    &__outline {
        background: linear-gradient(
            to bottom, 
            rgba(93, 169, 255, 0.01), 
            rgba(255, 255, 255, 0.4)
        );
        border: 1px solid $primary;
        color: $primary;
        box-shadow: 
            1px -1px 6px rgba(190, 220, 255, 0.25),
            1px -1px 6px rgba(59, 112, 173, 0.2);
        
        &:hover {
            background: linear-gradient(
                to bottom, 
                rgba(93, 169, 255, 0.01), 
                rgba(255, 255, 255, 0.8)
            );
            box-shadow: 
            2px -2px 6px rgba(190, 220, 255, 0.25),
            -2px 2px 6px rgba(59, 112, 173, 0.2);
        }
    }

    &__transparent {
        color: $primary;
        font-weight: $font-weight-semibold;
        padding: 17px 0;

        &:hover {
            color: $primary-hover;
        }
    }

    @media (max-width: $breakpoint-small-desktop) {
        padding: 12px 16px;
        font-size: 18px;
        border-radius: 24px;
    }
}