.footer {
    background: $white;
    color: $text-primary;
    padding-bottom: 40px;
    margin-top: 60px;

    .container {
        border-top: 1px solid $primary;
    }

    &__cta-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        width: 768px;
        margin: 32px auto 0;
        padding: 12px 24px;
        border-radius: 28px;

        backdrop-filter: 
            blur(4px) 
            opacity(0.5);
    
        box-shadow: 
            1px -1px 6px rgba(190, 220, 255, 0.25),
            -1px 1px 6px rgba(59, 112, 173, 0.2); 
    
        background: rgba(255, 255, 255, 0.8);
    
        -webkit-backdrop-filter: 
            blur(4px)
            opacity(0.5);
    }

    &__cta-text {
        width: 60%;
        font-size: 24px;
        font-weight: $font-weight-light;
        color: $text-primary;
    }

    &__content {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        align-items: start;
        margin-top: 24px;
    }

    &__policy {
        grid-column: 1 / -1;
        padding-top: 16px;
        font-size: 18px;
        font-weight: $font-weight-medium;
        color: $text-muted;
    }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__link {
        color: $text-primary;
        font-size: 24px;
        font-weight: $font-weight-light;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .address {
        &__item {
            display: flex;
            gap: 32px;
            align-items: center;
        }
        
        &__text {
            font-size: 24px;
            color: $text-primary;
            font-weight: $font-weight-light;
            width: 70%;

            span {
                display: block;
                color: $text-muted;
                width: fit-content;
            }
        }
    }

    &__contacts {
        a {
            color: $text-primary;
            font-size: 24px;
            font-weight: $font-weight-light;
        }

        &__section {
             margin-bottom: 24px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        color: $text-muted;
        font-weight: $font-weight-light;
        font-size: 24px;
        margin-bottom: 12px;
    }

    .phone-numbers {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
    }
}

@media (max-width: $breakpoint-small-desktop) {
    .footer {
        margin-top: 60px;
        padding-bottom: 32px;

        &__cta-top {
            width: 80%;
            padding: 14px 24px;
            border-radius: 24px;
            margin-top: 32px;
        }

        &__cta-text {
            font-size: 16px;
            width: 65%;
        }

        &__title {
            margin-bottom: 12px;
            font-size: 18px;
        }

        &__btn {
            padding: 10px 24px;
            font-size: 20px;
        }

        &__content {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            gap: 24px;
            margin-top: 32px;
        }

        &__nav {
            grid-column: 1;
            grid-row: 1;
        }

        &__contacts {
            grid-column: 2;
            grid-row: 1;
            text-align: right;

            a {
                color: $primary;
                font-size: 18px;
                font-weight: $font-weight-medium;
                text-decoration: underline;
            }

            &__section {
                margin-bottom: 24px;
            }
        }

        &__address {
            grid-column: 1 / -1;
            grid-row: 2;
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 16px;
            padding-top: 24px;
            border-top: 1px solid $text-light;
        }

        .address {
            &__item {
                flex-direction: row;
            }
            
            &__text {
                font-size: 18px;
                width: 100%;
            }
        }

        &__policy {
            grid-column: 1;
            grid-row: 3;
        }

        &__link {
            font-size: 18px;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .footer {
        margin-top: 40px;
        padding-bottom: 24px;

        .desktop-icon {
            display: none !important;
        }

        .mobile-icon {
            display: flex;
            width: 48px;
            height: 48px;
            align-items: center;
            justify-content: center;
        }

        &__cta-top {
            flex-direction: column;
            gap: 12px;
            padding: 12px;
            border-radius: 16px;
            text-align: center;
            margin-top: 20px;
            width: 100%;
        }

        &__cta-text {
            width: 100%;
        }

        &__btn {
            width: 100%;
        }

        &__content {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            gap: 20px;
            margin-top: 24px;
        }

        &__nav {
            grid-column: 1;
            grid-row: 1;
            text-align: center;
        }

        &__contacts {
            grid-column: 1;
            grid-row: 2;
            text-align: center;
            border-top: 1px solid $text-light;
            padding-top: 20px;

            &-section {
                margin-bottom: 0;
            }

            a {
                font-size: 24px;
            }
        }

        &__address {
            grid-column: 1;
            grid-row: 3;
            grid-template-columns: 1fr;
            gap: 16px;
        }

        &__policy {
            border-top: 1px solid $text-light;
            grid-column: 1;
            grid-row: 4;
            font-size: 14px;
        }

        &__list {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        &__address {
            padding-top: 20px;
        }

        .btn__arrow {
            width: 48px;
            height: 48px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                margin: 0;
                content: url('/images/icons/address.svg');
            }
        }

        .btn__arrow:before {
            content: none;
        }

        .phone-numbers {
            gap: 12px;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .mobile-icon {
        display: none !important;
    }
}
