.form {
    display: flex;
    flex-direction: column;

    &-fields-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        position: relative;

        &-checkbox {
            margin: 12px 0 24px;
        }
    }

    &__label {
        font-size: 14px;
        font-weight: $font-weight-light;
        color: $white;
        position: absolute;
        top: 11px;
        left: 24px;
        pointer-events: none;
        line-height: 140%;
    }

    &__input {
        padding: 32px 24px 12px;
        border: 1px solid transparent;
        border-radius: 32px;
        font-size: 18px;
        font-family: $font-main;
        font-weight: $font-weight-light;
        color: $text-light;
        background: $form-bg;
        transition: all 0.3s ease;
        width: 350px;
        height: 56px;
        line-height: 140%;
        box-sizing: border-box;

        &::placeholder {
            color: $text-light;
        }

        &:focus {
            outline: none;
            border-color: $white; 
            color: $white;
            background: $form-bg;
        }

        &:hover {
            background: rgba($form-bg, 0.9);
        }

        &--filled {
            color: $white;
            border-color: transparent;
            background: $form-bg;
        }

        &--error {
            border-color: $error !important;
            background: $form-bg;
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: $white;
            -webkit-box-shadow: 0 0 0px 1000px $form-bg inset;
        }
    }

    &__error {
        font-size: 14px;
        font-weight: $font-weight-light;
        color: $white;
        background: $error;
        padding: 7px 12px;
        border-radius: 25px;
        display: none;
        position: absolute;
        top: 50%;
        left: 362px;
        transform: translateY(-50%);
        white-space: nowrap;
        width: fit-content;

        &:not(:empty) {
            display: block;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &-input {
            display: none;

            &:checked + .form__checkbox-checkmark {
                background: $form-bg;
                border-color: $primary;
                background: url('../images/icons/check-grey.svg') no-repeat center;

            }
        }

        &-checkmark {
            width: 24px;
            height: 24px;
            border: 1px solid $form-bg;
            border-radius: 6px;
            background: $form-checkbox-bg;
        }

        &-text {
            font-size: 14px;
            font-weight: $font-weight-light;
            color: $text-light;
            line-height: 1.4;

            a {
                color: $text-light;
                text-decoration: underline;
                transition: opacity 0.3s ease;
            }
        }
    }
}

.form--modal {
    .form__label {
        color: $text-primary;
    }

    .form__input {
        width: 100%;
        background: #F2F3F5;
        color: $text-primary;
        padding: 32px 24px 12px;
        height: 56px;

        &::placeholder {
            color: $text-light;
        }

        &:focus {
            border-color: $text-primary;
            color: $text-primary;
        }
        
        &:-webkit-autofill {
            -webkit-text-fill-color: $text-primary;
            -webkit-box-shadow: 0 0 0px 1000px #F2F3F5 inset;
        }

        &--filled {
            color: $text-primary;
            background: #F2F3F5;
        }

        &--error {
            border-color: $error !important;
        }
    }

    .form-fields-wrapper {
        margin-bottom: 16px;
    }

    .form__group-checkbox {
        margin: 0 0 12px;
    }

    .form__error {
        position: static;
        transform: none;
        margin-top: 6px;
        color: $error;
        padding: 0;
        background: transparent;
        display: none;

        &:not(:empty) {
            display: block;
        }
    }

    .form__checkbox-text {
        color: $text-secondary;
        font-size: 18px;

        a {
            text-decoration: underline;
            color: $text-secondary;
        }
    }

    .form__checkbox-checkmark {
        background: #F2F3F5;
        border: none;
    }

    .form__checkbox-input:checked + .form__checkbox-checkmark {
        background: url('../images/icons/check-grey.svg') no-repeat center, #F2F3F5;
    }

    .btn {
        margin: 12px auto 0;
    }
}

.popup {
    background: $white;
    border-radius: 12px;
    padding: 40px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    transform: translateY(20px);
    transition: transform 0.3s ease;
    position: relative;

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.active {
            display: flex;
            transform: translateY(0);
            opacity: 1;
        }
    }

    &--form {
        max-width: 454px;
        text-align: left;
        padding: 32px;
    }

    &--success {
        .popup__icon-success {
            width: 104px;
            height: 104px;
            margin: 0 auto 32px;

            img {
                width: 100%;
            } 
        }
    }

    &--success, &--error {
        padding: 24px;
    }

    &__close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-primary;
        transition: color 0.3s ease;
        z-index: 10;

        &:hover {
            opacity: 0.7;
        }
    }

    &__icon-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: $font-weight-medium;
        color: $text-primary;
        margin-bottom: 12px;
        text-align: center;
    }

    &__text {
        font-size: 18px;
        color: $text-secondary;
        margin-bottom: 32px;
        text-align: center;
    }
}

@media (max-width: $breakpoint-small-desktop) {
    .form__error {
        padding: 5px 10px;
        position: static;
        transform: none;
        margin-top: 6px;
        display: none;
        
        &:not(:empty) {
            display: block;
        }
    }
}

@media (max-width: $breakpoint-tablet) {

    .form__input {
        width: 100%;
    }

    .form--modal {
        .form__input {
            height: 52px;
            padding: 30px 24px 9px;
            font-size: 16px;
        }

        .form__error {
            font-size: 12px;
        }

        .form-fields-wrapper {
            margin-bottom: 12px;
        }

        .form__checkbox-text {
            font-size: 14px;
        }
    }

    .popup {
        padding: 24px;

        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 14px;
        }
    }
}
