.container {
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $breakpoint-small-desktop) {
        padding: 0 32px;
        max-width: none;
    }

    @media (max-width: $breakpoint-tablet) {
        padding: 0 12px;
    }
}

