* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    text-wrap: pretty;
    overflow-x: hidden;
    background: $bg;
    font-family: $font-main;
    font-weight: $font-weight-light;
    color: $text-primary;
}

.hero__title,
.section__title,
.business__title,
.production-assortment__title,
.company-price__title {
    line-height: 1.15;
}

.hero__subtitle,
.business__subtitle,
.custom-form__subtitle,
.certificates__desc,
.conditions__desc,
.regions__desc,
.info-card__text,
.privacy {
    line-height: 1.4;
}

.company {
    &-hero__subtitle,
    &-pethouse__desc,
    &-pethouse__mission,
    &-reasons__desc,
    &-price__desc {
        line-height: 1.4;
    }
}

.production {
    &-hero__subtitle,
    &-tech__desc,
    &-urgent__text,
    &-assortment__item-text,
    &-assortment__desc {
        line-height: 1.4;
    }
}

img {
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-main;
    color: $text-primary;
    margin: 0;
}

p, li, span, div {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

ul, ol {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}