* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    text-wrap: pretty;
    overflow-x: hidden;
    background: $bg;
    font-family: $font-main;
    font-weight: $font-weight-light;
    color: $text-primary;
}

img {
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-main;
    color: $text-primary;
    margin: 0;
}

p, li, span, div {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

ul, ol {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}