@import 'base/reset';
@import 'base/variables';

@import 'components/header';
@import 'components/footer';
@import 'components/forms';
@import 'components/buttons';

@import 'pages/home';
@import 'pages/catalog';
@import 'pages/delivery';
@import 'pages/contacts';
@import 'pages/company';
@import 'pages/production';
@import 'pages/404';